@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorText: #000;
  --background-fullColor: #F3F4F6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --colorText: #fff;
    --background-fullColor: #000;
  }
} */

body {
  color: var(--colorText);
  background: var(--background-fullColor)
}
